@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: rgb(2,0,36);
    background: rgb(8, 48, 122)
}

.container1{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 15vh 75vh 10vh;
    grid-template-areas: "h h" "m a" "f f"
}

header{
    grid-area: h;
}

main{
    grid-area: m;
}

aside{
    grid-area: a;
}

footer{
    grid-area: f;
    background-color: #081230;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(18,41,117,1) 0%, rgba(13,23,42,1) 100%);
}

.cabecalho-esquerda{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-left: 35px;
}

.cabecalho-direita{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-right: 100px;
}

.cabecalho-direita-estilo{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 18px;
}

.logo-site{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
}

.main-conteudo-geral{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-left: 70px;
    margin-right: 100px;
}

.main-coluna-esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside-botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 45px;
}

.titulo-sessao{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.12);
    color: white;
}

.botoes{
    background-color: #f8ca4a;
    font-family: 'Poppins', sans-serif;
    color: #122975;
    border: none;
    height: 32px;
    border-radius: 8px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.12);
}

.botoes:hover{
    background-color: #d39b03;
    transition: 0.3s;
}

.main-botao-estilo{
    margin-top: 30px;
    width: 150px;
}

.aside-botoes-estilo{
    width: 135px;
}

.texto-estilo{
    font-family: 'PT Serif', serif;
    color: #d3daf1;
}

.titulo-sessao-cadastro{
    font-size: 28px;
}

.aside-esquerda{
    margin-right: 70px;
}

.botao-login{
    width: 75px;
}

.footer-creditos{
    font-family: 'Poppins', sans-serif;
    color: #18358d;
    display: flex;
    justify-content: end;
    margin-top: 32px;
    margin-right: 20px;
}

.slider{
    margin: 0 auto;
    width: 325px;
    height: 325px;
    overflow: hidden;
    border-radius: 15px;
}

.slides{
    width: 400%;
    height: 325px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 325px;
    height: 325px;
}

.manual-navigation{
    position: absolute;
    width: 325px;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

.navigation-auto div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 325px;
    margin-top: 295px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}

@media(max-width: 1094px){
    .texto-estilo{
        font-size: 14px;
    }
    .slider{
        width: 275px;
        height: 275px;
    }
    .slides{
        height: 275px;
    }
    .slide img{
        width: 275px;
        height: 275px;
    }
    .manual-navigation{
        width: 275px;
    }
    .navigation-auto{
        width: 275px;
        margin-top: 245px;
    }
}

@media(max-width: 957px){
    .titulo-sessao{
        font-size: 27px;
    }
    .titulo-sessao-cadastro{
        font-size: 20px;
    }
    .texto-estilo{
        font-size: 13px;
    }
}

@media(max-width: 928px){
    .slider{
        width: 235px;
        height: 235px;
    }
    .slides{
        height: 235px;
    }
    .slide img{
        width: 235px;
        height: 235px;
    }
    .manual-navigation{
        width: 235px;
    }
    .navigation-auto{
        width: 235px;
        margin-top: 205px;
    }
}

@media(max-width: 875px){
    .texto-estilo{
        font-size: 12px;
    }
    .titulo-sessao-cadastro{
        font-size: 19px;
    }
}

@media(max-width: 858px){
    .container1{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .aside-esquerda{
        margin-right: 0px;
    }
}

@media(max-width: 568px){
    .titulo-sessao{
        font-size: 25px;
    }
    .texto-estilo{
        font-size: 11px;
    }
    .slider{
        width: 215px;
        height: 215px;
    }
    .slides{
        height: 215px;
    }
    .slide img{
        width: 215px;
        height: 215px;
    }
    .manual-navigation{
        width: 215px;
    }
    .navigation-auto{
        width: 215px;
        margin-top: 185px;
    }
    .logo-site{
        font-size: 26px;
    }
}

@media(max-width: 620px){
    .main-conteudo-geral{
        display: flex;
        flex-direction: row;
        gap: 60px;
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media(max-width: 515px){
    .cabecalho-direita{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        margin-right: 50px;
    }
}

@media(max-width: 466px){
    .slider{
        width: 195px;
        height: 195px;
    }
    .slides{
        height: 195px;
    }
    .slide img{
        width: 195px;
        height: 195px;
    }
    .manual-navigation{
        width: 195px;
    }
    .navigation-auto{
        width: 195px;
        margin-top: 165px;
    }
    .texto-estilo{
        font-size: 10px;
    }
    .main-conteudo-geral{
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media(max-width: 435px){
    .logo-site{
        font-size: 23px;
    }
    .botao-login{
        width: 55px;
    }
}

@media(max-width: 620px){
    .main-conteudo-geral{
        display: flex;
        flex-direction: row;
        gap: 60px;
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media(max-width: 515px){
    .cabecalho-direita{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        margin-right: 50px;
    }
}

@media(max-width: 415px){
    .slider{
        width: 175px;
        height: 175px;
    }
    .slides{
        height: 175px;
    }
    .slide img{
        width: 175px;
        height: 175px;
    }
    .manual-navigation{
        width: 175px;
    }
    .navigation-auto{
        width: 175px;
        margin-top: 145px;
    }
    .texto-estilo{
        font-size: 9px;
    }
    .main-conteudo-geral{
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-left: 25px;
        margin-right: 25px;
    }
}
